<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!--script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></!--script-->
    <title>Hello Test</title>
</head>
<body>
    <iframe src="../index.html" frameborder="0"></iframe>
    <!--div id="app">
        <input type="text" v-model="newPageName">
        <button v-on:click="createPage">Создать страницу</button>
        <div v-for="(page, index) in pageList">
            <h1>{{index+1}} - {{ page }} <a href="#" v-on:click="deletePage(page)">[X]</a></h1>
        </div>
        
    </div-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="bundle.js"></script>
</body>
</html>